.App {
  text-align: center;
}

.App-header {
  background-color: #0091b5;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(3px + 2vmin);
  color: white;
  padding: 0 10px;
}

nav > ul {
  display: flex;
  flex-direction: row;
}

nav > ul > li {
  list-style: none;
  margin-right: 5px;
}

nav > ul > li:first-child::after {
  content: "/";
  padding: 0 5px;
}

.App-link {
  color: #09d3ac;
}
